body {
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
h1 {
  border-bottom: black 2.5px solid;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 50px;
}
#normal {
font-weight: normal;
}
#grid {
  display: grid;
  grid-template-columns: 180px 1fr;
}
#grid ol {
  border-right: black 2.5px solid;
  margin: 0;
  width: 110px;
  padding-top:20px;
  font-size: 20px;
}
#minmin p {
  font-size:17px
}
.mediaquery {
  display:none;
}
